[Unit]
Description=Zookeeper
After=network.target

[Service]
User={{zookeeper.user}}
Group={{zookeeper.group}}
#EnvironmentFile="{{ zookeeper.conf_dir }}/environment"
#Environment="ZOO_LOG_DIR=/home/zookeeper/zookeeper/log"
Environment=JAVA_HOME={{JAVA_HOME}}
Environment="ZOO_LOG_DIR=/home/zookeeper/log"
ExecStart={{zookeeper.install_dir}}/bin/zkServer.sh start-foreground
ExecStop={{zookeeper.install_dir}}/bin/zkServer.sh stop

[Install]
WantedBy=multi-user.target
