[client]
port = 3306
socket = {{mysql_home}}/mysql.sock

[mysqld]
port = 3306
socket = {{mysql_home}}/mysql.sock
basedir = {{mysql_home}}
datadir = {{mysql_data_dir}}
pid-file = {{mysql_home}}/mysql.pid
user = {{mysql_user}}
bind-address = {{ip}}
init-connect = 'SET NAMES utf8mb4'
character-set-server = utf8mb4
log-error={{mysql_error_log}}

[mysqldump]
quick
max_allowed_packet = 16M

[myisamchk]
key_buffer_size = 8M
sort_buffer_size = 8M
read_buffer = 4M
write_buffer = 4M
