[Unit]
Description=Hbase

[Service]
Type=simple
User={{hbase_user}}
Group={{hbase_group}}
Restart=on-failure
Environment=JAVA_HOME={{JAVA_HOME}}
Environment=HBASE_HOME={{hbase_home}}
Environment=HBASE_CONF_DIR={{hbase_home}}/conf
WorkingDirectory={{hbase_home}}
ExecStart={{hbase_home}}/bin/start-hbase.sh
ExecStop={{hbase_home}}/bin/stop-hbase.sh
PIDFile=/tmp/hbase-hbase-master.pid

[Install]
WantedBy=multi-user.target
